.red {
  color: red;
}

#baslik {
  color: #175466;
  font-size: 16px;
  font-weight: bold;
}

.table_ust {
  color: #175466 !important;
  font-size: 14px;
}

.table_alt {
  font-size: 12px;
  font-family: sans-serif;
}
