<h3 class="first">Günün Menüsü</h3>
<p-dialog header="Title" [(visible)]="display">
  {{selectedItem?.productName}}
</p-dialog>

<p-table [value]="recs" selectionMode="single" dataKey="vin" [(selection)]="selectedItem" [dataKey]="'productId'">

  <ng-template pTemplate="header">
    <tr>
      <th>Yemek İsmi </th>
      <th>Fiyat</th>
      <th>Ürün Id </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData" (click)="showDialog()">
      <td style="text-align : center;">{{rowData.productName}}</td>
      <td style="text-align : center;">{{rowData.price}}</td>
      <td style="text-align : center;">{{rowData.productId}}</td>
    </tr>
  </ng-template>
</p-table>
